numpy~=1.26.4
pandas~=2.3.3
scipy~=1.17.0
joblib~=1.5.3
scikit-learn~=1.3.2
imblearn
deap~=1.4.3
bitarray~=3.8.0
sphinx~=5.0
furo
sphinx_rtd_theme~=1.2.0
sphinx_material
category_encoders
scikit-multilearn~=0.2.0
arff~=0.9